
</div>
<footer class="text-center page-footer fixed-bottom">
  <!-- Copyright -->
  <div class="footer-copyright text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-white" href="/">© Niks Nilo <%= year %> - MongoDB, Node.js, Express.js & Mongoose project from Udemy Course.</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js"
></script>
</body>
</html>
