<%- include("partials/header"); -%>
<section class="about h-100">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-center py-5">About</h1>
            </div>
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card card-niks">
                    <div class="view inner">
                    <img class="card-img-top" src="img/Niks.jpg" alt="Photo">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a>Niks Nilo</a></h4>
                        <p class="card-text text-md-justify">I'm a Graphic Designer and Front End Developer. I enjoy creating simple and beautiful interface designs. I would like to share with you some of my ideas.</p>
                        <p class="card-text">This project is created with Node.js, Mongoose and EJS.</p>
                        <a href="https://github.com/niksnilo/niks-blog-project.git" target="_blank" class="btn btnView ml-0 text-white">VIEW ON GITHUB</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer"); -%>